/* Webfont: Shakies */@font-face {
    font-family: 'Shakies';
    src: url('Shakies.eot'); /* IE9 Compat Modes */
    src: url('Shakies.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Shakies.woff') format('woff'), /* Modern Browsers */
         url('Shakies.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

