/* Webfont: Shakies */@font-face {
    font-family: 'Shakies';
    src: url('Shakies.woff2') format('woff2'), /* Modern Browsers */
         url('Shakies.ttf') format('truetype'); /* Safari, Android, iOS */
             font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

